.footer {
  background-color: black;
}
.footerContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.footerSocial {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin: 0 0.8rem;
}
.footerCopyText {
  color: white;
  margin: 0;
}
